.step2 .preview {
  width: 284px;
  height: 400px;
}

.step2 .controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 450px;
}

.step2 #cover, 
.step2 #titleIcon {
  width: 100%;
  height: 100%;
}

.step2 #face, 
.step2 #hair, 
.step2 #hairBack, 
.step2 #motion {
  width: 50%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-button-container {
  position: fixed;
  top: 470px; /* ボタンを表示する位置を調整 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
}

.toggle-button-container button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button-container button:hover {
  background-color: #0056b3;
}

#nameDisplay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
  z-index: 10;
}

#hiraganaNameDisplay {
  position: absolute;
  bottom: 19%;
  font-size: 9px;
  font-weight: normal;
  width: 100%;
  text-align: center;
}

#kanjiNameDisplay {
  position: absolute;
  bottom: 11%;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

#romajiNameDisplay {
  position: absolute;
  display: none;
  z-index: 10;
  font-family: "adventures-unlimited", sans-serif;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: white;
}

